{{ (weatherState$ | async)?.type }}
<div class="weather-page" [ngSwitch]="(weatherState$ | async)?.type">
    <div class="initial" *ngSwitchCase="weatherStateType.initial">
        <weather-initial></weather-initial>
    </div>
    <div class="position-loading" *ngSwitchCase="weatherStateType.positionLoading">
        <weather-position-loading [position]="(weatherState$ | async)?.weather?.location?.position">
        </weather-position-loading>
    </div>
    <div class="position-failed" *ngSwitchCase="weatherStateType.positionFailed">
        <weather-position-failed></weather-position-failed>
    </div>
    <div class="location-successful" *ngSwitchCase="weatherStateType.locationSuccessful">
        <weather-location-successful [location]="(weatherState$ | async)?.weather?.location">
        </weather-location-successful>
    </div>
    <div class="weather-successful" *ngSwitchCase="weatherStateType.weatherSuccessful">
        <weather-successful [weather]="(weatherState$ | async)?.weather">
        </weather-successful>
    </div>
</div>